@charset "UTF-8";

* {
	padding: 0;
	margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
    font-family: 'futura', sans-serif;
}

.container-width{
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    padding: 0px 35px;
}

h2,p,h3{
    text-align: center;
}

p{
    font-size:2rem;
    font-weight: 300;
}

#fp-nav{
    margin-top: -53.5px!important;
}

#fp-nav > ul > li > a > span{
    background: #fff!important;
}

#fp-nav > ul > li:nth-child(1) > a, #fp-nav > ul > li:nth-child(6) > a, #fp-nav > ul > li:nth-child(7) > a, #fp-nav > ul > li:nth-child(8) > a, #fp-nav > ul > li:nth-child(9) > a, #fp-nav > ul > li:nth-child(10) > a, #fp-nav > ul > li:nth-child(11) > a{
    display: none;
}

.titleIntro {
    animation: intro .7s forwards, opacity 1s forwards;
}

.mapIntro {
    animation: opacity 3s forwards;
}

.circleIntro {
    animation: scaleup 1.5s forwards, opacity 3s forwards;
}

.svgIntro {
    animation: scaleup 0.3s forwards, opacity 1s forwards;
}

@keyframes intro {
    0% {transform: translateY(75px);}
    100% {transform: translateY(0px);}
}

@keyframes opacity {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes scaleup {
    0% {transform: scale(0.5);}
    100% {transform: scale(1);}
}

.title h1, .title p, .info h2, .info p, .trivia h2, .trivia p, .pictionary h2, .pictionary p, .result h2, .result p{
    opacity: 0;
}

/****************************************************/
/* header */
/****************************************************/

.title{
    background-color: #5347dc!important;
    color: #fff;
}

.section.fp-auto-height-responsive.title .container-width{
    position: absolute;
    top: calc(50% - 80px);
    z-index: 999999;
    left: 0;
    right: 0;
}

.section.fp-auto-height-responsive.title img{
    max-width: 100%;
    height: 100%;
    display: block;
    border: none;
    position: absolute;
    top: 0px;
    opacity: 0;
    width: 100%;
}

.section.fp-auto-height-responsive.title img:nth-of-type(1){
        z-index: 9;
}

.section.fp-auto-height-responsive.title img:nth-of-type(2){
        z-index: 4;
}

#heading h1{
    text-align: center;
    font-size: 4rem;
}

h2{
    font-size: 4rem;
}

h3{
    font-size: 3rem;
}

#intro p {
    max-width: 500px;
    margin: 0 auto;
    font-size: 1.2rem;
}

#scroll-begin {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 75px;
    text-align: center;
    opacity: 1;
    transition: .4s ease-out;
    z-index: 9999;
}

#scroll-begin #scroll-line {
    width: 2px;
    height: 50px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    bottom: 0;
}

#scroll-begin #scroll-line:after {
    animation: scroll-line 1.5s infinite;
}

#scroll-begin #scroll-line:after {
    background-color: #e05274;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

@keyframes scroll-line {
	0% {
		height:50px;
		opacity:1;
		top:0;
	}
	49.9% {
		height:0;
		opacity:1;
		top:0;
	}
	50%{
		opacity:0;
		top:50px;
	}
	50.1%{
		opacity:1;
		height:50px;
	}
	100% {

	}
}

/****************************************************/
/* info */
/****************************************************/
.info{
    background-color: #e05274!important;
}

.info h2, .info h3{
    color: #fff;
}

.info p {
    max-width: 500px;
    margin: 0 auto;
    color: #fdbd4c;
    font-size: 2rem;
}

form{
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 30px;
    padding-top: 70px;
    text-align: center;
}

.label-text {
    color: #c6c6c6;
    cursor: text;
    font-size: 1.3rem;
    text-align: left;
    position: relative;
    transform: translateY(-34px);
    transition: all 0.3s;
    left: 50px;
 } 
    
input[type=text] {
    background-color: transparent;
    border: 0;
    width: 100%;
    max-width: 700px;
    border-bottom: 2px solid #c6c6c6;
    color: #fdbd4c;
    font-size: 36px;
    letter-spacing: -1px;
    outline: none;
    padding: 5px 20px;
    text-align: center;
    transition: all 0.3s;
} 
    
input[type=text]:focus {
    outline: none;
    border: transparent;
    border-bottom: 2px solid #fdbd4c;
    color: #fdbd4c;
    max-width: 100%;
    width: 800px;
}

input[type=text]:focus + .label-text{
    color: #fff;
    font-size: 18px;
    transform:translateY(-74px);
 }   
        
input[type=text]:valid + .label-text{
    font-size: 18px;
    transform:translateY(-74p);
}

.next{
    font-size: 1rem;
    color: #fff;
    position: absolute;
    bottom: 30px;
    left: 49%;
    cursor: pointer;
    display: block;
    text-decoration: none;
}

.next div{
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    color: #fff;
}

/****************************************************/
/* trivia */
/****************************************************/
.trivia {
    background-color: #6028ca!important;
}

.options-content{
    width: 100%;
	height: 100%;
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
}

.trivia #left-container, .trivia #right-container{
    width: 50%;
	height: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.trivia #left-container{
    background-color: #6028ca!important;
}

.trivia #right-container{
    background-color: #fff!important;
}

.trivia h2{
    color: #fff;
}

.trivia p {
    max-width: 500px;
    margin: 0 auto;
    color: #fdbd4c;
    font-size: 2rem;
}

#right-container ul{
    list-style: none;
    padding-left: 0;
    padding-top: calc(50% - 450px);
    height: 100%;
    margin: auto 0;
}

#right-container ul li{
    padding-left: 70px;
    font-size: 4rem;
    padding-bottom: 70px;
}

#topics > li:nth-child(4){
    padding-bottom: 0px;
}

#right-container ul li a{
    text-decoration: none;
    color: #333;
    font-weight: 800;
    transition: all 0.2s ease;
    position: relative;
	z-index: 20;
	cursor: pointer;
}

#right-container ul li a:hover{
    color: #28b08f;
}

#circle {
	width: 100%;
	height: 100%;
	transition: all .5s ease-in-out;
	position: absolute;
	top: 0;
	z-index: 10;
	left: 0;
    transform: translateX(100%);
}

#circle.half-move {
	transform: translateX(20%);
}

#circle.full-move {
	transform: translateX(-25%);
}
  

.skip a{
    color: grey;
    font-size: 1rem;
    position: absolute;
    bottom: 30px;
    right: 40px;
    text-decoration: none;
    z-index: 999999;
}

h4{
    opacity: 0;
    transition: all 0.3s ease-in-out;
    color: #333;
    font-size: 1.6rem;
    text-align: left;
}

.card p{
    opacity: 0;
    transition: all 0.3s ease-in-out;
    color: #333;
    font-size: 1.2rem;
    text-align: left;
    margin-left: 0px;
    display: none;
}

.card, .trivia img{
    z-index: 999999999;
    display: none;
    visibility: hidden;
}

.trivia img{
    max-width: 550px;
    border: 4px solid #fff;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease;
    display: none;
    visibility: hidden;
}

.seen{
    opacity: 1!important;
    display: block!important;
    visibility: visible!important;
    animation: fade 0.5s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.cardmove{
    transform: translateY(50px);
    opacity: 1;
     display: block!important;
    visibility: visible!important;
}

.trivia .svg-images{
    width: 100%;
    height: 100%;
    position: absolute;
}

.trivia .svg-images img{
    max-width: 100%;
    width: 30%;
    height: 30%;
    border: none;
    border-radius: 0px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    display: block;
    visibility: visible!important;
    position: relative;
}

.trivia .svg-images img:nth-of-type(1){
    top: 480px;
    left: 370px;
    z-index: 999999999999999;
}

.trivia .svg-images img:nth-of-type(2){
    top: -180px;
    left: 90px;
}

.trivia .svg-images img:nth-of-type(3){
    top: -110px;
    left: 20px;
    z-index: 999999999999999;
}

.trivia .svg-images img:nth-of-type(4){
    bottom: 560px;
    left: 480px;
}

/****************************************************/
/* pictionary */
/****************************************************/
.pictionary{
    background-color: #eec33b!important;
}

.pictionary h2{
    color: #fff;
}

#user-image{
    background-color: white;
    max-width: 600px;
    width: 100%;
    height: 400px;
    margin: 0 auto;
    display: block;
    margin-bottom: 50px;
}

.download-button{
    text-align: center;
    padding-top: 30px;
}

.download-button a{
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
}

#fullpage > div.confirm.section.pictionary > div > div.container-width > div{
    position: absolute;
    top: -170px;
    left: 0;
    BOTTOM: 0;
    right: 0;
    margin: auto;
    max-width: 900px;
    width: 100%;
    height: 600px;
}

.pictionary div > div.container-width > div > img:nth-child(1), .pictionary div > div.container-width > div > img:nth-child(2), .pictionary div > div.container-width > div > img:nth-child(3), .pictionary div > div.container-width > div > img:nth-child(4){
    width: 25%;
    height: 25%;
    position: relative;
    opacity: 0;
}

.pictionary div > div.container-width > div > img:nth-child(1){
        top: 440px;
    left: 755px;
}

.pictionary div > div.container-width > div > img:nth-child(2){
    top: 440px;
    left: -343px;
    transform: rotate(-30deg);
}

.pictionary div > div.container-width > div > img:nth-child(3){
        top: 30px;
    left: -534px;
    transform: rotate(120deg);
}

.pictionary div > div.container-width > div > img:nth-child(4){
        top: -150px;
    left: 696px;
    transform: rotate(-20deg);
}

/*canvas*/
#fullpage > div.draw.section.pictionary > div > div > p{
    font-size: 2.6rem;
    opacity: 1!Important;
    position: relative;
    top: -90px;
    left: 0;
    right: 0;
}

#can{
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: white;
}

.pictionary .container-width div img#canvasimg{
    position:absolute;
    top:10%;
    left:52%; 
    display:none; 
}

#btn{
    position: absolute;
    top: 610px;
    bottom: 0;
    right: 0;
    left: -10px;
    color: white;
    margin: auto;
    width: 240px;
    height: 60px;
    cursor: pointer;
    font-size: 1.3rem;
    border: none;
    border-radius: 100px;
    background-color: #6028ca!important;
}

#blue, #red, #white, #black, #green, #clr{
   position: absolute;
    height: 40px;
    cursor: pointer;
    width: 40px;
    border-radius: 10000px;
    right: 50px;
}

#blue{
    background-color: #5347dc;
    top: 10px;
}

#red{
    background-color: #e05274;
    top: 90px;
}

#black{
    background-color: #333;
    top: 250px
}

#green{
    background-color: #28b08f;
    top: 170px;
}

#white{
    background-color: transparent;
    border: 2px solid white;
    height: 40px;
    width: 25px;
    border-radius: 2px;
    top: 350px;
    right: 57px;
}

#clr{
    background-color: mediumvioletred;
    top:430px;
    background: transparent;
    border: none;
    color: white;
    font-size: 1.8rem;
}

.canvas-container{
    width: 90%;
    display: block;
    height: 500px;
}

#strokes{
    position: relative;
    top: -11px;
    left: 181px;
}


/****************************************************/
/* result */
/****************************************************/
.result{
    background-color: #28b08f!important;
}

#fullpage > div.confirm.section.pictionary > div > div.container-width > p{
    padding-top: 610px;
    font-size: 1.5rem;
    max-width: 800px;
    margin: 0 auto;
}

.pictionary div #canvasimg{
    background-color: white;
    position: absolute;
    top: -170px;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    max-width:900px;
    height: 500px;
}

/****************************************************/
/* footer */
/****************************************************/
footer{
    position: fixed;
    bottom: 30px;
    left: 30px;
}

footer a{
    display: block;
    color: black;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease;
}

footer a:hover{
    color: lightgrey;
}
/****************************************************/
/* RESPONSIVE */
/****************************************************/

@media only screen and (max-width: 992px) {
    html{
        font-size: 14px;
    }
    
    .trivia .svg-images img:nth-of-type(1) {
    top: 480px;
    left: 250px;
    }
    
    .trivia .svg-images img:nth-of-type(2) {
    top: -180px;
    left: 40px;
    }
    
    .trivia .svg-images img:nth-of-type(3) {
    top: 20px;
    left: 20px;
    }
    
    .trivia .svg-images img:nth-of-type(4) {
    bottom: 680px;
    left: 290px;
    }
    
    #circle {
    width: 105%;
    }
    
    #blue, #red, #white, #black, #green, #clr{
    top: 10px;
    }

    #blue{
        right: 50px;
    }

    #red{
    right: -30px;
    }

    #black{
    right: -210px
    }

    #green{
    right: -120px;
    }

    #white{
    right: -310px;
    }

    #clr{
    right: -370px;
    }
    
    #strokes{
    top: 500px;
    left: -389px;
    }   
    
    #btn {
    top: 840px;
    bottom: 0;
    }
    
    .pictionary div #canvasimg {
    width: 80%;
    }
    
    .pictionary div > div.container-width > div > img:nth-child(1) {
    left: 595px;
    }
    
    .pictionary div > div.container-width > div > img:nth-child(2) {
    left: -203px;
    }
    
    .pictionary div > div.container-width > div > img:nth-child(3) {
    left: -384px;
    }
    
    .pictionary div > div.container-width > div > img:nth-child(4) {
    left: 566px;
    }
}

@media only screen and (max-width: 768px) {
    html{
        font-size: 12px;
    }
    
    .pictionary div > div.container-width > div > img:nth-child(4) {
        left: 456px;
    }
    
    #btn {
    width: 168px;
    height: 50px;
    }
    
    .pictionary div > div.container-width > div > img:nth-child(1) {
    left: 495px;
    }
}

@media only screen and (max-width: 576px) {
    html{
        font-size: 10px;
    }
    
    .pictionary div > div.container-width > div > img:nth-child(1){
        left: 330px;
    }

    .pictionary div > div.container-width > div > img:nth-child(2){
        left: -142px;
    }

    .pictionary div > div.container-width > div > img:nth-child(3){
        left: -224px;
    }

    .pictionary div > div.container-width > div > img:nth-child(4){
        left: 346px;
    }
    
    #fullpage > div.draw.section.pictionary > div > div > p {
    font-size: 1.4rem;
    top: -87px;
    }
    
    #blue {
    right: -260px;
    }
    
    #blue, #red, #white, #black, #green, #clr {
    top: -1px;
    }
    
    #red {
    right: -161px;
    }
    
    #green {
    right: -120px;
    }
    
    #black {
    right: -210px;
    }
    
    #white {
        right: -310px;
        height: 29px;
        width: 20px;
        top: 8px;
    }
    
    #btn {
    top: -570PX;
    bottom: 0;
    width: 128px;
    height: 40px;
    }
    
    #fullpage > div.confirm.section.pictionary > div > div.container-width > p {
    padding-top: 520px;
    }
    
    .pictionary div > div.container-width > div > img:nth-child(4) {
    top: -80px;
    }
}
